webinars/feb-2026/options-for-integration.json
[
    {
        "id": "661b96bc43171d9b",
        "type": "group",
        "z": "6754d6d9474ea904",
        "name": "Single Instance Flow",
        "style": {
            "label": true
        },
        "nodes": [
            "ccb449c48737125a",
            "701e751308243080",
            "d62270b332ebd28e"
        ],
        "x": 34,
        "y": 19,
        "w": 552,
        "h": 82
    },
    {
        "id": "ccb449c48737125a",
        "type": "inject",
        "z": "6754d6d9474ea904",
        "g": "661b96bc43171d9b",
        "name": "Originator",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "701e751308243080"
            ]
        ]
    },
    {
        "id": "701e751308243080",
        "type": "tables-query",
        "z": "6754d6d9474ea904",
        "g": "661b96bc43171d9b",
        "name": "Query",
        "query": "SELECT * FROM \"table_name\";",
        "split": false,
        "rowsPerMsg": 1,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "d62270b332ebd28e"
            ]
        ]
    },
    {
        "id": "d62270b332ebd28e",
        "type": "debug",
        "z": "6754d6d9474ea904",
        "g": "661b96bc43171d9b",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "a4118251c68a20e6",
        "type": "group",
        "z": "6754d6d9474ea904",
        "name": "Multi Instance Flow",
        "style": {
            "label": true
        },
        "nodes": [
            "bce0f87b26a8c439",
            "fbebaf89144e9836"
        ],
        "x": 48,
        "y": 113,
        "w": 544,
        "h": 294
    },
    {
        "id": "bce0f87b26a8c439",
        "type": "group",
        "z": "6754d6d9474ea904",
        "g": "a4118251c68a20e6",
        "name": "MCP Instance",
        "style": {
            "label": true
        },
        "nodes": [
            "bb764eb31a3616d9",
            "a2a1a7ab9203b4b6",
            "2fe7f03f6aa1359a",
            "942c6b48e6d80fc2"
        ],
        "x": 74,
        "y": 139,
        "w": 492,
        "h": 142
    },
    {
        "id": "bb764eb31a3616d9",
        "type": "inject",
        "z": "6754d6d9474ea904",
        "g": "bce0f87b26a8c439",
        "name": "Originator",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "2fe7f03f6aa1359a"
            ]
        ]
    },
    {
        "id": "a2a1a7ab9203b4b6",
        "type": "debug",
        "z": "6754d6d9474ea904",
        "g": "bce0f87b26a8c439",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "2fe7f03f6aa1359a",
        "type": "project link out",
        "z": "6754d6d9474ea904",
        "g": "bce0f87b26a8c439",
        "name": "To Remote",
        "mode": "link",
        "broadcast": false,
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "topic": "topic",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "942c6b48e6d80fc2",
        "type": "project link in",
        "z": "6754d6d9474ea904",
        "g": "bce0f87b26a8c439",
        "name": "From Remote",
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "broadcast": true,
        "topic": "topic",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "a2a1a7ab9203b4b6"
            ]
        ]
    },
    {
        "id": "fbebaf89144e9836",
        "type": "group",
        "z": "6754d6d9474ea904",
        "g": "a4118251c68a20e6",
        "name": "Remote Instance",
        "style": {
            "label": true
        },
        "nodes": [
            "9cdfae97409c0498",
            "17b7d97c88a45151",
            "f7480cc969910904"
        ],
        "x": 74,
        "y": 299,
        "w": 492,
        "h": 82
    },
    {
        "id": "9cdfae97409c0498",
        "type": "tables-query",
        "z": "6754d6d9474ea904",
        "g": "fbebaf89144e9836",
        "name": "Query",
        "query": "SELECT * FROM \"table_name\";",
        "split": false,
        "rowsPerMsg": 1,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "17b7d97c88a45151"
            ]
        ]
    },
    {
        "id": "17b7d97c88a45151",
        "type": "project link out",
        "z": "6754d6d9474ea904",
        "g": "fbebaf89144e9836",
        "name": "To MCP",
        "mode": "link",
        "broadcast": false,
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "topic": "topic",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "f7480cc969910904",
        "type": "project link in",
        "z": "6754d6d9474ea904",
        "g": "fbebaf89144e9836",
        "name": "From MCP",
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "broadcast": true,
        "topic": "topic",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "9cdfae97409c0498"
            ]
        ]
    },
    {
        "id": "135e7c6250c93a17",
        "type": "group",
        "z": "6754d6d9474ea904",
        "name": "Routed Multi Instance Flow",
        "style": {
            "label": true
        },
        "nodes": [
            "1124738332d33c82",
            "29d3f5a493b41419",
            "15e93ce2b058251b",
            "b423af4224c17420",
            "66c06d216783d15d"
        ],
        "x": 608,
        "y": 13,
        "w": 584,
        "h": 714
    },
    {
        "id": "1124738332d33c82",
        "type": "group",
        "z": "6754d6d9474ea904",
        "g": "135e7c6250c93a17",
        "name": "MCP Instance",
        "style": {
            "label": true
        },
        "nodes": [
            "bc1ecc364fab0ee1",
            "e21805ef73ca7a82",
            "b054a664e9501057",
            "f683c3993a4bb2af"
        ],
        "x": 634,
        "y": 39,
        "w": 492,
        "h": 142
    },
    {
        "id": "bc1ecc364fab0ee1",
        "type": "inject",
        "z": "6754d6d9474ea904",
        "g": "1124738332d33c82",
        "name": "Originator",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 740,
        "y": 80,
        "wires": [
            [
                "b054a664e9501057"
            ]
        ]
    },
    {
        "id": "e21805ef73ca7a82",
        "type": "debug",
        "z": "6754d6d9474ea904",
        "g": "1124738332d33c82",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "b054a664e9501057",
        "type": "project link out",
        "z": "6754d6d9474ea904",
        "g": "1124738332d33c82",
        "name": "To Router",
        "mode": "link",
        "broadcast": false,
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "topic": "topic",
        "x": 1020,
        "y": 80,
        "wires": []
    },
    {
        "id": "f683c3993a4bb2af",
        "type": "project link in",
        "z": "6754d6d9474ea904",
        "g": "1124738332d33c82",
        "name": "From Router",
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "broadcast": true,
        "topic": "topic",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "e21805ef73ca7a82"
            ]
        ]
    },
    {
        "id": "29d3f5a493b41419",
        "type": "group",
        "z": "6754d6d9474ea904",
        "g": "135e7c6250c93a17",
        "name": "Node 1",
        "style": {
            "label": true
        },
        "nodes": [
            "be0f8c1e8fb7d0fe",
            "c307242e091b9cf4",
            "883e8f0746771070"
        ],
        "x": 634,
        "y": 419,
        "w": 492,
        "h": 82
    },
    {
        "id": "be0f8c1e8fb7d0fe",
        "type": "tables-query",
        "z": "6754d6d9474ea904",
        "g": "29d3f5a493b41419",
        "name": "Query",
        "query": "SELECT * FROM \"table_name\";",
        "split": false,
        "rowsPerMsg": 1,
        "x": 890,
        "y": 460,
        "wires": [
            [
                "c307242e091b9cf4"
            ]
        ]
    },
    {
        "id": "c307242e091b9cf4",
        "type": "project link out",
        "z": "6754d6d9474ea904",
        "g": "29d3f5a493b41419",
        "name": "To Router",
        "mode": "link",
        "broadcast": false,
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "topic": "topic",
        "x": 1040,
        "y": 460,
        "wires": []
    },
    {
        "id": "883e8f0746771070",
        "type": "project link in",
        "z": "6754d6d9474ea904",
        "g": "29d3f5a493b41419",
        "name": "From Router",
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "broadcast": true,
        "topic": "topic",
        "x": 730,
        "y": 460,
        "wires": [
            [
                "be0f8c1e8fb7d0fe"
            ]
        ]
    },
    {
        "id": "15e93ce2b058251b",
        "type": "group",
        "z": "6754d6d9474ea904",
        "g": "135e7c6250c93a17",
        "name": "Remote Instance",
        "style": {
            "label": true
        },
        "nodes": [
            "3653d46b68d7b6a3",
            "b620755fc0130e41",
            "6d8e0a3b787864c4",
            "4c4f345642f3216f",
            "e4e1e97144aa304c",
            "bf7471bc26c4ba26",
            "0f32743bda9b703c",
            "8ac2de56ce3c76a5",
            "25da5b5d88d9b4b2"
        ],
        "x": 634,
        "y": 199,
        "w": 532,
        "h": 202
    },
    {
        "id": "3653d46b68d7b6a3",
        "type": "project link out",
        "z": "6754d6d9474ea904",
        "g": "15e93ce2b058251b",
        "name": "To MCP",
        "mode": "link",
        "broadcast": false,
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "topic": "topic",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "b620755fc0130e41",
        "type": "project link in",
        "z": "6754d6d9474ea904",
        "g": "15e93ce2b058251b",
        "name": "From MCP",
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "broadcast": true,
        "topic": "topic",
        "x": 720,
        "y": 240,
        "wires": [
            [
                "6d8e0a3b787864c4"
            ]
        ]
    },
    {
        "id": "6d8e0a3b787864c4",
        "type": "switch",
        "z": "6754d6d9474ea904",
        "g": "15e93ce2b058251b",
        "name": "Router",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 240,
        "wires": [
            [
                "4c4f345642f3216f",
                "e4e1e97144aa304c",
                "bf7471bc26c4ba26"
            ]
        ]
    },
    {
        "id": "4c4f345642f3216f",
        "type": "project link out",
        "z": "6754d6d9474ea904",
        "g": "15e93ce2b058251b",
        "name": "To Node 1",
        "mode": "link",
        "broadcast": false,
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "topic": "topic",
        "x": 1070,
        "y": 240,
        "wires": []
    },
    {
        "id": "e4e1e97144aa304c",
        "type": "project link out",
        "z": "6754d6d9474ea904",
        "g": "15e93ce2b058251b",
        "name": "To Node 2",
        "mode": "link",
        "broadcast": false,
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "topic": "topic",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "bf7471bc26c4ba26",
        "type": "project link out",
        "z": "6754d6d9474ea904",
        "g": "15e93ce2b058251b",
        "name": "To Node 3",
        "mode": "link",
        "broadcast": false,
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "topic": "topic",
        "x": 1070,
        "y": 320,
        "wires": []
    },
    {
        "id": "0f32743bda9b703c",
        "type": "project link in",
        "z": "6754d6d9474ea904",
        "g": "15e93ce2b058251b",
        "name": "From Node 1",
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "broadcast": true,
        "topic": "topic",
        "x": 730,
        "y": 280,
        "wires": [
            [
                "3653d46b68d7b6a3"
            ]
        ]
    },
    {
        "id": "8ac2de56ce3c76a5",
        "type": "project link in",
        "z": "6754d6d9474ea904",
        "g": "15e93ce2b058251b",
        "name": "From Node 2",
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "broadcast": true,
        "topic": "topic",
        "x": 730,
        "y": 320,
        "wires": [
            [
                "3653d46b68d7b6a3"
            ]
        ]
    },
    {
        "id": "25da5b5d88d9b4b2",
        "type": "project link in",
        "z": "6754d6d9474ea904",
        "g": "15e93ce2b058251b",
        "name": "From Node 3",
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "broadcast": true,
        "topic": "topic",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "3653d46b68d7b6a3"
            ]
        ]
    },
    {
        "id": "b423af4224c17420",
        "type": "group",
        "z": "6754d6d9474ea904",
        "g": "135e7c6250c93a17",
        "name": "Node 2",
        "style": {
            "label": true
        },
        "nodes": [
            "0e953fad1326bcc4",
            "69294b83615cee67",
            "ccabf3a5434b7b6b"
        ],
        "x": 634,
        "y": 519,
        "w": 492,
        "h": 82
    },
    {
        "id": "0e953fad1326bcc4",
        "type": "tables-query",
        "z": "6754d6d9474ea904",
        "g": "b423af4224c17420",
        "name": "Query",
        "query": "SELECT * FROM \"table_name\";",
        "split": false,
        "rowsPerMsg": 1,
        "x": 890,
        "y": 560,
        "wires": [
            [
                "69294b83615cee67"
            ]
        ]
    },
    {
        "id": "69294b83615cee67",
        "type": "project link out",
        "z": "6754d6d9474ea904",
        "g": "b423af4224c17420",
        "name": "To Router",
        "mode": "link",
        "broadcast": false,
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "topic": "topic",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "ccabf3a5434b7b6b",
        "type": "project link in",
        "z": "6754d6d9474ea904",
        "g": "b423af4224c17420",
        "name": "From Router",
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "broadcast": true,
        "topic": "topic",
        "x": 730,
        "y": 560,
        "wires": [
            [
                "0e953fad1326bcc4"
            ]
        ]
    },
    {
        "id": "66c06d216783d15d",
        "type": "group",
        "z": "6754d6d9474ea904",
        "g": "135e7c6250c93a17",
        "name": "Node 3",
        "style": {
            "label": true
        },
        "nodes": [
            "c6133473044dd65e",
            "b73a60d7e7fa10ce",
            "e2dcd9cc3b821696"
        ],
        "x": 634,
        "y": 619,
        "w": 492,
        "h": 82
    },
    {
        "id": "c6133473044dd65e",
        "type": "tables-query",
        "z": "6754d6d9474ea904",
        "g": "66c06d216783d15d",
        "name": "Query",
        "query": "SELECT * FROM \"table_name\";",
        "split": false,
        "rowsPerMsg": 1,
        "x": 890,
        "y": 660,
        "wires": [
            [
                "b73a60d7e7fa10ce"
            ]
        ]
    },
    {
        "id": "b73a60d7e7fa10ce",
        "type": "project link out",
        "z": "6754d6d9474ea904",
        "g": "66c06d216783d15d",
        "name": "To Router",
        "mode": "link",
        "broadcast": false,
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "topic": "topic",
        "x": 1040,
        "y": 660,
        "wires": []
    },
    {
        "id": "e2dcd9cc3b821696",
        "type": "project link in",
        "z": "6754d6d9474ea904",
        "g": "66c06d216783d15d",
        "name": "From Router",
        "project": "d602a42c-79ff-455c-a76d-11c7747bd895",
        "broadcast": true,
        "topic": "topic",
        "x": 730,
        "y": 660,
        "wires": [
            [
                "c6133473044dd65e"
            ]
        ]
    },
    {
        "id": "713e7425a3cfa40d",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/nr-tables-nodes": "0.2.1",
            "@flowfuse/nr-project-nodes": "0.7.8"
        }
    }
]
